{{ define "main" }}
{{ partial "back_link.html" .}}

<h1>{{ .Title }}</h1>

{{ .Content }}

<!-- divide post list by year  -->
{{ if  .Site.Params.theme_config.isListGroupByDate  }}
    {{ range .Pages.GroupByDate "2006 Year" }}
    <p>{{ .Key }}</p>
    <table class="paper-list">
        {{ range .Pages }}
		<tr>
			<td class="paper-thumb">
			<img src="{{ .Params.img }}" alt="{{ .Title }}" loading="lazy" />
			</td>
			<td class="paper-info">
			<a class="paper-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
			<br>
    			{{ .Summary }}
			</td>
		</tr>
        {{ end }}
    </table>
    {{ end }}
{{ else }}
    {{ partial "post_list.html" (dict "context" . "section" .Section)}}
{{ end }}

{{ end }}
