{{ define "main" }}
{{ partial "back_link.html" .}}

<h1>{{ .Title }}</h1>

{{ .Content }}

<!-- divide post list by year  -->
{{ if  .Site.Params.theme_config.isListGroupByDate  }}
    {{ range .Pages.GroupByDate "2006 Year" }}
    <p>{{ .Key }}</p>
    <table style="border:none" cellspacing="0" cellpadding="0">
        {{ range .Pages }}
		<tr>
			<td style="width:25%; border:none; vertical-align:middle;">
			<img src="{{ .Params.img }}" alt="{{ .Title }}" style="width:100%" />
			</td>
			<td style="width:75%; border:none; vertical-align:middle; padding:20px">
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			<br>
    			{{ .Summary }}
			</td>
		</tr>
        {{ end }}
    </table>
    {{ end }}
{{ else }}
    {{ partial "post_list.html" (dict "context" . "section" .Section)}}
{{ end }}

{{ end }}
