{{ $footerContent := readFile "layouts/footer.md" }}
{{ $footerContent | markdownify }}

<h2>Previous Mentees and Interns</h2>
<div class="mentee-grid">
  <a class="mentee-card" href="https://xywu.me/">
    <img src="/images/mentees/xiaoyang_wu.png" alt="Xiaoyang Wu" loading="lazy" />
    <span>Xiaoyang Wu</span>
  </a>
  <a class="mentee-card" href="https://georgegu1997.github.io">
    <img src="/images/mentees/qiao_gu.png" alt="Qiao Gu" loading="lazy" />
    <span>Qiao Gu</span>
  </a>
  <a class="mentee-card" href="https://ymingxie.github.io">
    <img src="/images/mentees/yiming_xie.jpeg" alt="Yiming Xie" loading="lazy" />
    <span>Yiming Xie</span>
  </a>
  <a class="mentee-card" href="https://likojack.github.io/kejieli/">
    <img src="/images/mentees/kejie_li.jpg" alt="Kejie Li" loading="lazy" />
    <span>Kejie Li</span>
  </a>
  <a class="mentee-card" href="https://scholar.google.com/citations?user=A3x7UAYAAAAJ">
    <img src="/images/mentees/rohan_chabra.jpg" alt="Rohan Chabra" loading="lazy" />
    <span>Rohan Chabra</span>
  </a>
  <a class="mentee-card" href="https://wijmans.xyz">
    <img src="/images/mentees/erik_wijmans.jpg" alt="Erik Wijmans" loading="lazy" />
    <span>Erik Wijmans</span>
  </a>
</div>
